.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    overflow: auto;
    animation: animate;
    animation-duration: 600ms;
}

@keyframes animate{
    from{
        transform: translate(-50%, -50%) scale(0);
    }
    to{
        transform: translate(-50%, -50%) scale(1);
    }
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.close {
    color: #000000;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

.modalInfo .number {
    color: #fff;
    opacity: .6;
    text-align: right;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.modalInfo .name {
    text-transform: capitalize;
    color: #fff;
    margin:0;
    margin-left: 0.4rem;
    font-size: 2rem;
}
.modalInfo .top{    
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.modalInfo .detail {    
    display: grid;
    align-items: baseline;
}

.modalInfo .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.modalInfo .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    font-size: .75rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.modalInfo .detail img {
    max-width: 70%;
    height: 70%;
    width: auto;
}


.modal-content.normal {
    background-color: #a6a877;
}

.modal-content.grass {
    background-color: #77c850;
}

.modal-content.fire {
    background-color: #ee7f30;
}

.modal-content.water {
    background-color: #678fee;
}

.modal-content.electric {
    background-color: #f7cf2e;
}

.modal-content.ice {
    background-color: #98d5d7;
}

.modal-content.ground {
    background-color: #dfbf69;
}

.modal-content.flying {
    background-color: #a98ff0;
}

.modal-content.poison {
    background-color: #a040a0;
}

.modal-content.fighting {
    background-color: #bf3029;
}

.modal-content.psychic {
    background-color: #f65687;
}

.modal-content.dark {
    background-color: #725847;
}

.modal-content.rock {
    background-color: #b8a137;
}

.modal-content.bug {
    background-color: #a8b720;
}

.modal-content.ghost {
    background-color: #6e5896;
}

.modal-content.steel {
    background-color: #b9b7cf;
}

.modal-content.dragon {
    background-color: #6f38f6;
}

.modal-content.fairy {
    background-color: #f9aec7;
}
